name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  rustfmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout reposistory
        uses: actions/checkout@v5

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

  clippy:
    name: Check clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout reposistory
        uses: actions/checkout@v5

      - name: Run cargo clippy
        run: |
          cargo clippy --version
          cargo clippy --all --all-targets --all-features -- -D warnings

  macos-check:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - name: Test
        run: cargo test

  ubuntu-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Test
        run: cargo test

  windows-check:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - name: Test
        run: cargo test
